<a href="https://colab.research.google.com/github/ericjigsaw/Phyton/blob/main/Manipulando_os_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# carregando a planilha
from openpyxl import load_workbook

workbook = load_workbook(filename='sample.xlsx')

# verificando abas
sheet = workbook.active

In [ ]:
# iterando sobre os dados
for value in sheet.iter_rows(min_row=1,
                             max_row=1,
                             values_only=True):
    print(value)

In [ ]:
# criando um dicionário na mão para entendimento

products = {
    "B00FALQ1ZC": {
        "parent": "937001370",
        "title": 'Invicta Women\'s 15150 "Angel" 18k Yellow Gold Ion-Plated Stainless Steel and Brown Leather Watch',
        "category": "Watches"
    },
    "B00D3RGO20":{
        "parent": "484010722",
        "title": "Kenneth Cole New York Women's KC4944 Automatic Silver Automatic Mesh Bracelet Analog Watch",
        "category": "Watches"
    },
    "B00DKYC7TK": {
        "parent": "361166390",
        "title": "Ritche 22mm Black Stainless Steel Bracelet Watch Band Strap Pebble Time/Pebble Classic",
        "category": "Watches"
    }
}

In [ ]:
# criando um dicionário
products = {}

# salvando um dicionário
for row in sheet.iter_rows(min_row=2,
                           min_col=4,
                           max-col=7,
                           values_only=true):
  product_id = row[0]
  product = {
      "parent": row[1],
      "title": row[2],
      "category": row[3]
  }
  products[product_id] = product

In [ ]:
# verificando as chaves
products.keys()

In [ ]:
# checando item
products['B00FALQ1ZC']

In [ ]:
# transformando em uma data frame
import panda as pd
df =  pd.DataFrame.from-dict9products, orient='index')

df.head()